##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
print('Nama saya Faridatul Warda')

Nama saya Faridatul Warda

2. > Create a variable containing your name (Points : 5)

In [ ]:
x = str(input('Masukkan nama anda =  '))
print(x)

Masukkan nama anda=  udin
udin

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
df = pd.DataFrame({
    'list_of_items':['Kursi', 'Meja', 'Papan Tulis', 'Spidol', 'Pintu'],
    
})

df['list_of_items'] = df['list_of_items']


df

  list_of_items
0         Kursi
1          Meja
2   Papan Tulis
3        Spidol
4         Pintu

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
x = int(input("Masukkan nilai pertama: "))
y = int(input("Masukkan nilai kedua: "))
total = x + y
total2 = x - y
print('hasil pertambahan tersebut adalah ' + str(total))
print('hasil pengurangan tersebut adalah ' + str(total2))

Masukkan nilai pertama: 10
Masukkan nilai kedua: 5
hasil pertambahan tersebut adalah 15
hasil pengurangan tersebut adalah 5

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
x = 12000 * 20
y = 10/100*x
z = x - y
print(z)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
list_of_countries = ["indonesia", "malaysia", "Jepang", "Argentina", "Singapura", "China", "Brazil"]
print(list_of_countries[0])
print(list_of_countries[1])
print(list_of_countries[2])
print(list_of_countries[3])
print(list_of_countries[4])
print(list_of_countries[5])
print(list_of_countries[6])

indonesia
malaysia
Jepang
Argentina
Singapura
China
Brazil

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
print(list_of_countries[0])
print(list_of_countries[1])
print(list_of_countries[2])
print(list_of_countries[3])

indonesia
malaysia
Jepang
Argentina

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
list_of_countries.append("india")
print(list_of_countries)

['indonesia', 'malaysia', 'Jepang', 'Argentina', 'Singapura', 'China', 'Brazil', 'india']

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here

list_of_countries.remove("india")
print(list_of_countries)

['indonesia', 'malaysia', 'Jepang', 'Argentina', 'Singapura', 'China', 'Brazil']

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here
print(list_of_countries[6])

Brazil

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)
#Code goes here
df = pd.DataFrame({
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
})

df

   name  age  gender membership
0   Dio   20       1   Platinum
1   Eka   19       0       Gold
2  Wayu   24       0     Silver
3  Riki   39       1     Silver

In [ ]:
# Print all customer names (Points : 5)

#Code goes here
df = pd.DataFrame({
    "name":['Dio','Eka','Wayu','Riki'],
})

df

   name
0   Dio
1   Eka
2  Wayu
3  Riki

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
df = pd.DataFrame({
    "name":['Dio'],
})

df

  name
0  Dio

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
df = pd.DataFrame({
    "name":['Dio','Eka','Wayu','Riki'],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
})
df

   name  gender membership
0   Dio       1   Platinum
1   Eka       0       Gold
2  Wayu       0     Silver
3  Riki       1     Silver

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here
df = pd.DataFrame({
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":['Male','Female','Female','Male'],
    "membership":['Platinum','Gold','Silver','Silver']
})

df

   name  age  gender membership
0   Dio   20    Male   Platinum
1   Eka   19  Female       Gold
2  Wayu   24  Female     Silver
3  Riki   39    Male     Silver